*,
*::after,
*::before {
  box-sizing: border-box;
}
::selection {
  color: #000000;
  background: #fbdc4d;
}
:focus {
  outline: none;
}
:focus-visible {
  outline: 3px dotted #ea736d;
}
input:focus-visible {
  outline: none;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #000000;
  font-family: "M PLUS 1p";
  font-weight: 400;
}
body {
  overflow-x: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  color: #2a86b3;
  font-size: 1.8rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
a:hover {
  color: #ed574f;
}
a:active {
  color: #ed574f;
}
a .underline::before {
  height: 2px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #2a86b3;
}
a .underline:hover::before {
  background-color: #ed574f;
}
a .underline:active::before {
  background-color: #ed574f;
}
a.btn {
  padding: 0px 40px;
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
}
a.btn.btn-outline {
  padding: 0px 40px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.title-s {
  font-size: 3rem;
  font-weight: 700;
}
.title-s.underline::before {
  opacity: 0;
  height: 2px;
  left: 0px;
  right: 0px;
  bottom: 3px;
  background-color: #ed574f;
  transition: 0.3s ease-in-out;
}
.title-s.underline:hover::before {
  opacity: 1;
  height: 2px;
  left: 0px;
  right: 0px;
  bottom: 3px;
  background-color: #ed574f;
}
.title-m {
  font-size: 5.75rem;
  font-weight: 900;
}
.title-m.underline::before {
  left: 0;
  right: 0;
  bottom: 15px;
}
.title-b {
  font-size: 3.75rem;
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
  border: 0px;
  padding: 0;
  background-color: transparent;
}
.container {
  position: relative;
  z-index: 10;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.underline {
  position: relative;
  width: fit-content;
}
.underline::before {
  content: "";
  position: absolute;
  height: 10px;
  left: -5px;
  right: -5px;
  bottom: 0px;
  z-index: -1;
  background-color: #fbdc4d;
  transition: background-color 0.3s ease-in-out;
}
.btn {
  display: inline-block;
  height: 56px;
  border: 2px solid #fbdc4d;
  background-color: #fbdc4d;
  line-height: 54px;
  border-radius: 30.5px;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.btn:hover {
  background-color: #ffd200;
}
.btn:active {
  background-color: #e1bc10;
}
.btn.item-img__btn {
  opacity: 0;
  position: absolute;
  min-height: 52px;
  line-height: 48px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 26px;
  border: 2px solid white;
  background-color: #ffffff;
  vertical-align: bottom;
  padding: 0px 34px;
  color: #ea736d;
  font-size: 2.2rem;
  font-weight: 900;
  z-index: 10;
}
.btn.item-img__btn:hover {
  color: #ffffff;
  background-color: #ea736d;
  border: 2px solid #ea736d;
}
.btn.item-img__btn:active {
  background-color: #d4423b;
  border: 2px solid #d4423b;
}
@media (min-width: 1200px) {
  .btn {
    font-size: 2.2rem;
    line-height: 52px;
  }
}
.btn-outline {
  display: none;
  height: 58px;
  line-height: 50px;
  border: 4px solid #464646;
  background-color: transparent;
  transition: 0.5s;
}
.btn-outline a {
  color: #464646;
  padding: 0 34px;
}
.btn-outline a:hover {
  color: #797979;
}
.btn-outline a:active {
  color: #181818;
}
@media (min-width: 1200px) {
  .btn-outline {
    display: inline-block;
  }
  .btn-outline:hover {
    background-color: transparent;
    border-color: #797979;
    color: #797979;
  }
  .btn-outline:active {
    background-color: transparent;
    border-color: #181818;
    color: #181818;
  }
}
.nav-underline a {
  position: relative;
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
}
.nav-underline a::before {
  display: block;
  content: "";
  position: absolute;
  width: 0%;
  height: 10px;
  left: 50%;
  bottom: 0;
  z-index: -1;
  background-color: #fbdc4d;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
.nav-underline a:hover::before {
  width: 110%;
}
.email a {
  color: #000000;
  font-size: 2.1rem;
}
.email a:hover {
  color: #039be5;
}
.email a:active {
  color: #ea655f;
}
.email .underline::before {
  height: 2px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000000;
}
.email .underline:hover::before {
  background-color: #039be5;
}
.email .underline:active::before {
  background-color: #ea655f;
}
.projects-ul a {
  font-size: 2.55rem;
  font-weight: 800;
  color: #8fa5ae;
}
.projects-ul a:hover {
  color: #ed574f;
}
.projects-ul li.project-active a {
  color: #000000;
}
.work-item {
  width: fit-content;
  font-size: 2.6rem;
  font-weight: 800;
  user-select: none;
}
.work-item p {
  font-size: 1.8rem;
  font-weight: 500;
}
.work-item h3.underline::before {
  left: 0;
  right: 0;
  bottom: 4px;
}
.work-item span {
  font-size: 1.8rem;
  font-weight: 700;
}
.work-item:hover h3.underline::before {
  background-color: #ea736d;
}
.form-item {
  position: relative;
  width: fit-content;
  height: 50px;
}
.form-item input[type="text"] {
  border: none;
  height: 50px;
  width: 390px;
  padding: 0 6px;
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  font-family: "M PLUS 1p";
  border-bottom: 2px solid #bcbcbc;
}
.form-item input[type="text"]:active,
.form-item input[type="text"]:focus {
  border-bottom-color: #ea736d;
}
.form-item span {
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  font-size: 2rem;
  font-weight: 700;
  color: #bcbcbc;
  transition: 0.5s ease-in-out;
}
.form-item span.form__item-active {
  left: 5px;
  top: -12px;
  font-size: 1.6rem;
  color: #ed9626;
}
.btn__next-project {
  width: 555px;
  height: 80px;
  padding: 0 30px;
  background-color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.2px;
  font-size: 2.2rem;
  line-height: 80px;
}
.btn__next-project:hover {
  background-color: #656565;
}
.btn__next-project:active {
  background-color: #141414;
}
header {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 220px;
  background: center repeat-y url("../img/header/bg/bg-lines.jpg");
}
.nav-bar-fixed {
  padding: 0 15px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1430px;
  margin: 0 auto;
  z-index: 100;
  background: center repeat-y url("../img/header/bg/bg-lines.jpg");
}
.nav-bar__logo {
  user-select: none;
  transition: 0.5s;
}
.nav-bar__logo:hover {
  transform: scale(1.1);
}
.nav-bar__logo a {
  color: #000000;
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: 900;
}
.nav-bar__logo .underline::before {
  left: -5px;
  right: -5px;
  bottom: 10px;
}
.nav-bar__nav {
  display: flex;
  justify-content: center;
  user-select: none;
}
.nav-bar__nav li a {
  color: #000000;
  font-weight: 700;
}
.nav-bar__nav li + li {
  margin-left: 80px;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  font-size: 3rem;
  color: #000000;
}
.social-icons a + a {
  margin-left: 20px;
}
.social-icons .icon-vk:hover {
  color: #4680c2;
}
.main-content {
  display: flex;
  margin-top: 120px;
}
.content {
  width: 50%;
}
.content__logo {
  font-size: 9rem;
  font-weight: 900;
  margin-block-start: -38px;
  margin-block-end: -25px;
}
.content__logo span {
  display: inline-block;
  z-index: 3;
}
.content__logo span.underline::before {
  bottom: 28px;
}
.content__logo .logo-surname {
  top: -25px;
}
.content-text {
  width: 50%;
}
.content__desc {
  margin-bottom: 30px;
}
.content__desc p {
  color: #393f47;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 33px;
}
.content-pic {
  width: 50%;
  position: relative;
  padding-left: 57px;
  padding-top: 20px;
}
.content-pic .image {
  position: relative;
  width: 415px;
}
.content-pic .image:before {
  content: "";
  position: absolute;
  top: 30%;
  left: 30%;
  width: inherit;
  height: 100%;
  background-image: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.5;
  z-index: -1;
}
.content__btn .btn:not(:last-child) {
  margin-right: 10px;
}
.header__bg-img {
  margin-top: -150px;
}
.skills-content {
  display: flex;
  justify-content: space-between;
}
.desc__list {
  font-size: 2.2rem;
  margin-bottom: 37px;
}
.desc__list li {
  position: relative;
  padding-left: 27px;
  margin-bottom: 3px;
}
.desc__list li::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0px;
  width: 20px;
  height: 2px;
  background-color: #6b6b6b;
}
.content-icons {
  margin-right: 165px;
}
.title__on-call {
  margin-bottom: 30px;
}
.title__skills {
  margin-bottom: 22px;
}
.skills__icons {
  margin-bottom: 22px;
}
.skills__icons a {
  color: #000000;
  font-size: 4.6rem;
}
.skills__icons a:first-child {
  margin-left: 3px;
}
.skills__icons a.icon-vk {
  color: white;
  vertical-align: bottom;
  border-radius: 50%;
  background-color: black;
  font-size: 3rem;
  width: 45px;
  height: 45px;
}
.skills__icons a.icon-vk:before {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}
.skills__icons a.icon-vk:hover {
  background-color: #4680c2;
}
.skills__icons a.btn-custom__content {
  padding: 0px 35px;
}
.skills__icons a + a {
  margin-left: 25px;
}
.icon-telegram:hover {
  color: #2ca5e0;
}
.icon-github:hover {
  color: #6cc644;
}
.icon-linkedin-in:hover {
  color: #0077b5;
}
.icon-facebook:hover {
  color: #1877f2;
}
.portfolio {
  background-color: #f4f8f9;
  padding-top: 87px;
  padding-bottom: 115px;
}
.portfolio__title-m {
  margin-bottom: 43px;
}
.portfolio__title-s {
  font-size: 2.93rem;
  color: #000000;
}
.portfolio__title-ss {
  font-size: 2.4rem;
  color: #000000;
}
.projects-ul {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  user-select: none;
}
.projects-ul li + li {
  margin-left: 72px;
}
.name-active {
  color: #000000;
  font-weight: 900;
}
.projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.list-row {
  display: flex;
  justify-content: flex-start;
}
.list-row:first-child {
  margin-bottom: 56px;
}
.list-item {
  position: relative;
  width: auto;
}
.list-item + .list-item {
  margin-left: 26px;
}
.content__btn-custom {
  padding: 0px 36px;
}
.item-img {
  margin-bottom: 15px;
  overflow: hidden;
}
.item-img img {
  transition: 1s ease-in-out;
}
.item-img::before {
  display: block;
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  background-color: #fbdc4d;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: 5;
}
.item-img:hover img {
  transform: scale(1.1);
}
.item-img:hover .item-img__btn {
  opacity: 1;
}
.item-img:hover::before {
  opacity: 0.5;
}
.img__first-row {
  position: relative;
  width: 508px;
  height: 338px;
}
.img__second-row {
  position: relative;
  width: 328px;
  height: 218px;
}
.portfolio__p-s p {
  font-size: 2rem;
  font-weight: 300;
}
.portfolio__p-ss p {
  font-size: 1.82rem;
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */