@blue: #039be5;
@red: #ea655f;
@yellow: #fbdc4d;
@black: black;
@white: white;
@underline: #fbdc4d;
@underlineHover: #ea736d;
@btn: #fbdc4d;
@btnHover: #ffd200;
@btnActive: #e1bc10;
@btnLink: black;
@btnOutline: #464646;
@btnOutlineHover: #797979;
@btnOutlineActive: #181818;
@link: #2a86b3;
@linkHover: #ed574f;
@linkActive: #ed574f;
@header: black;
@focusOutline: #ea736d;
@projectColor: #ea736d;
@projectActive: #d4423b;
@bg-second: #f4f8f9;
@bglines: "../img/header/bg/bg-lines.jpg";
@fr: "M PLUS 1p";
