.contacts {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #f4f8f9;
    overflow: hidden;
    @media (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    @media (min-width: 1200px) {
        padding-top: 126px;
        padding-bottom: 150px;
        background: center repeat-y url("../img/contacts/bg-line-blue.jpg");
        background-color: #f4f8f9;
    }
}
.contacts__title-b {
    margin: 0 auto;
    margin-bottom: 45px;
    @media (min-width: 768px) {
        margin-bottom: 70px;
    }
    @media (min-width: 1200px) {
        margin-bottom: 55px;
    }
}
.contacts-content {
    display: flex;
    flex-direction: column;
    position: relative;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media (min-width: 1200px) {
        padding-right: 23px;
        &:before {
            content: "";
            position: absolute;
            width: 448px;
            height: 280px;
            top: 0px;
            left: -352px;
            background: center no-repeat url("../img/contacts/bg_dots.png");
        }
    }
}

.contacts__item {
    width: 100%;
    margin-bottom: 50px;
    @media (min-width: 768px) {
        width: 50%;
        padding-right: 50px;
        margin-bottom: 0;
    }
    @media (min-width: 1200px) {
        width: 45%;
        padding-top: 22px;
        padding-right: 0;
    }
}

.info-item {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0px;
    }

    p {
        font-size: 1.6rem;
        line-height: 1.6;
    }
    @media (min-width: 768px) {
        margin-bottom: 35px;
        p {
            font-size: 1.8rem;
        }
    }
    @media (min-width: 1200px) {
        margin-bottom: 42px;
        p {
            font-size: 2rem;
        }
    }
}

.info-flex {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    &:last-child {
        margin-bottom: 0px;
    }
    span {
        &:first-child {
            width: 195px;
        }
        display: inline-block;
    }

    span + span {
        font-weight: 500;
    }
    a {
        font-weight: 500;
        color: @blue;
        font-size: 2rem;
        &:hover {
            color: @linkHover;
        }
    }
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    @media (min-width: 1200px) {
        margin-bottom: 22px;
    }
}

.form-wrapper {
    width: 100%;
    height: fit-content;
    padding: 40px 20px;
    box-shadow: 0px 28px 40px 0px rgb(194, 219, 235);
    background-color: #ffffff;

    @media (min-width: 768px) {
        width: 50%;
        box-shadow: 0px 28px 80px 0px rgb(194, 219, 235);
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 55px;
        padding-bottom: 40px;
    }
    @media (min-width: 1200px) {
        box-shadow: 0px 28px 100px 0px #c2dbeb;
        width: 45.5%;
        padding-left: 61px;
        padding-right: 60px;
        padding-top: 73px;
    }
}
.contacts__form {
    display: flex;
    flex-direction: column;
}

.form-item {
    position: relative;
    width: 100%;

    font-size: 2rem;
    font-weight: 700;

    & + & {
        margin-top: 25px;
        &:last-of-type {
            margin-top: 20px;
        }
    }

    &:nth-child(3) {
        span {
            top: 0px;
        }
    }

    input[type="text"] {
        border: none;
        padding: 0 6px;
        color: @black;
        width: inherit;
        height: 50px;
        font-family: @fr;
        font-size: 2rem;
        font-weight: 700;
        border-bottom: 2px solid #bcbcbc;

        &:active,
        &:focus {
            border-bottom-color: @underlineHover;
        }
    }
    span {
        position: absolute;
        pointer-events: none;
        left: 0px;
        top: 10px;
        color: #bcbcbc;
        transition: 0.5s ease-in-out;

        &.form__item-active {
            left: 0px;
            top: -14px;
            font-size: 1.6rem;
            color: #ed9626;
        }
    }

    textarea {
        width: inherit;
        height: 120px;
        border: none;
        resize: none;
        font-family: @fr;
        font-size: 2rem;
        font-weight: 700;
        border-bottom: 2px solid #bcbcbc;
        &:active,
        &:focus {
            border-bottom-color: @underlineHover;
        }
    }

    @media (min-width: 768px) {
        & + & {
            margin-top: 40px;
        }
    }
    @media (min-width: 1200px) {
        & + & {
            margin-top: 55px;
            &:last-of-type {
                margin-top: 30px;
            }
        }
    }
}

.btn-form {
    width: 100%;
    height: 54px;
    line-height: 50px;
    padding: 0px 35px;
    @media (min-width: 768px) {
    }
    @media (min-width: 1200px) {
        width: auto;
        height: 66px;
        line-height: 62px;
    }
}

.grey {
    color: #96969d;
}
.error {
    font-size: 1.4rem;
    color: red;
}

.copy-icon {
    fill: grey;
    width: 12px;
}

#discord_btn {
    position: relative;
}

#discord_spn {
    cursor: pointer;
}
