.footer {
    padding-top: 23px;
    padding-bottom: 37px;
    background-color: #333333;

    p {
        font-size: 1.6rem;
        line-height: 1.6;
        color: #b0b0b0;
    }

    a {
        font-size: 1.6rem;
    }
}

.footer-title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
}
