.portfolio {
    background-color: @bg-second;
    padding-top: 68px;
    padding-bottom: 95px;
    margin-top: -68px;
    @media (min-width: 768px) {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    @media (min-width: 1200px) {
        padding-top: 95px;
        padding-bottom: 85px;
    }
}

.portfolio__title-b {
    margin-bottom: 40px;
    @media (min-width: 768px) {
        margin-bottom: 36px;
    }
    @media (min-width: 1200px) {
        margin-bottom: 48px;
    }
}

.portfolio__title-s {
    font-size: 2.2rem;
    color: @black;
    margin-bottom: 5px;
    @media (min-width: 768px) {
    }
    @media (min-width: 1200px) {
        margin-bottom: 0;
        font-size: 3.25rem;
    }
}

.portfolio__title-ss {
    font-size: 2.2rem;
    color: @black;
    margin-bottom: 5px;
    @media (min-width: 768px) {
    }
    @media (min-width: 1200px) {
        font-size: 2.65rem;
        margin-bottom: 2px;
    }
}

.projects-ul {
    display: none;
    justify-content: flex-start;
    margin-bottom: 45px;

    button {
        font-size: 2.4rem;
        font-weight: 800;
        color: #8fa5ae;
        font-family: @fr;
        &:hover {
            color: @linkActive;
        }
        &.control-active {
            color: @black;
        }
    }

    button + button {
        margin-left: 45px;
    }

    @media (min-width: 768px) {
        display: flex;
    }
    @media (min-width: 1200px) {
        font-size: 2.8rem;

        button + button {
            margin-left: 80px;
        }
    }
}

.name-active {
    color: @black;
    font-weight: 900;
}

.projects-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0;
    }
    @media (min-width: 1200px) {
    }
}

.list-item {
    width: 100%;
    max-width: 360px;
    & + & {
        margin-top: 40px;
    }
    @media (min-width: 768px) {
        width: 48%;
        & + & {
            margin-top: 0;
        }

        &:not(:nth-child(2n)) {
            margin-bottom: 40px;
        }
    }
    @media (min-width: 1200px) {
        width: 32%;
    }
}

.list-item-big {
    width: 100%;
    max-width: 555px;

    @media (min-width: 768px) {
        width: 48%;
    }
    @media (min-width: 1200px) {
        margin-bottom: 62px;
        width: 50%;
    }
}

.content__btn-custom {
    padding: 0px 36px;
}
.item-img {
    position: relative;
    margin-bottom: 18px;
    overflow: hidden;
    img {
        transition: 1s ease-in-out;
    }

    @media (min-width: 1200px) {
        &::before {
            display: block;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: @yellow;
            transition: all 0.5s ease-in-out;
            opacity: 0;
            z-index: 5;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
            .item-img__btn {
                opacity: 1;
            }

            &::before {
                opacity: 0.5;
            }
        }
    }
}

.portfolio__p-s {
    p {
        font-size: 1.6rem;
        font-weight: 300;
    }

    @media (min-width: 768px) {
    }
    @media (min-width: 1200px) {
        p {
            font-size: 2.2rem;
        }
    }
}
.portfolio__p-ss {
    p {
        font-size: 1.6rem;
        font-weight: 300;
    }

    @media (min-width: 768px) {
    }
    @media (min-width: 1200px) {
        p {
            font-size: 2rem;
        }
    }
}

.projects-all {
    @media (min-width: 1200px) {
        display: none;
    }
}
